.card {
  position: relative;
}
.light-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 0; width: 0;
}
.light-overlay.show {
  z-index: 9999;
  width: 100%; height: 100%;
  opacity: 0.1;
}
