#commentsTable_wrapper .dataTables_length {
  padding-left: 1.5rem !important;
}

#commentsTable_wrapper .dataTables_info {
  padding-left: 1.5rem !important;
}

#commentsTable_wrapper .dataTables_paginate {
  padding-right: 1.5rem !important;
}

#commentsTable_wrapper .dataTables_filter {
  padding-right: 1.5rem !important;
}

.comment-content {
  min-width: 400px !important;
}

.comment-content p {
  margin: 0;
}

.actions-wrapper button:first-child {
  margin-top: 0 !important;
}
