body, html {
  overflow-x: hidden !important;
}

.dataTables_info,
.dataTables_length {
  padding-left: 1.4rem !important;
}

.dataTables_paginate,
.dataTables_filter {
  padding-right: 1.2rem !important;
}

.custom-fs-tiny {
  font-size: 0.8rem !important;
}
