.collapse-inner {
  margin-bottom: 18px;
}

.dataTables_length {
  padding-left: 6px;
}

.dataTables_info {
  padding-left: 0.5rem !important;
}

.offcanvas-header {
  height: 70px;
}

.offcanvas-body {
  height: calc(100vh - 70px) !important;
}
