#requestedActionsHistoryTable_wrapper .dataTables_length {
  padding-left: 1.5rem !important;
}

#requestedActionsHistoryTable_wrapper .dataTables_info {
  padding-left: 1.5rem !important;
}

#requestedActionsHistoryTable_wrapper .dataTables_paginate {
  padding-right: 1.5rem !important;
}

#requestedActionsHistoryTable_wrapper .dataTables_filter {
  padding-right: 1.5rem !important;
}
